@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="output">Waiting for dom ready...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            RequireJS is an implementation of Asynchronous Module Definition (AMD) that provides all the tools you need to write modular JavaScript. 
        </p>
        <p><a class="btn btn-default" href="http://requirejsnet.veritech.io">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bundling</h2>
        <p>RequireJS.NET Compressor generate custom bundles using the RequireJsNet configuration using YUI and MsBuild.</p>
        <p><a class="btn btn-default" href="http://requirejsnet.veritech.io">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>i18n</h2>
        <p>Internationalization support for JavaScript resources with ResxToJs, ResxToJs is a MSBuild task that outputs specified keys from a resx file in RequireJS i18n format.</p>
        <p><a class="btn btn-default" href="http://requirejsnet.veritech.io">Learn more &raquo;</a></p>
    </div>
</div>